<div class="movie row" data-id="{{id}}" data-local-id="{{local_id}}">
	<h1 class="title">{{title}}</h1>
	<div class="movie-info col-xs-12 col-sm-6">
		<div class="container-fluid">
			<p>
				<span class="glyphicon glyphicon-globe"/>
				<a href="{{scraped_url}}">biosdrachten.nl (Wayback Machine)</a>
			</p>
			<p class="properties">
				<span class="glyphicon glyphicon-time"/>
				<span class="value duration">{{duration}}</span>
				<span class="glyphicon glyphicon-eye-open"/>
				<span class="value min-age">{{minimum_age}}+</span>
			</p>
		</div>
		<p>Directors:</p>
		<ul class="directors">
			{{#directors}}
			<li><a href="#directors={{local_id}}">{{name}}</a></li>
			{{/directors}}
		</ul>
		<p>Actors:</p>
		<ul class="actors">
			{{#actors}}
			<li><a href="#actors={{local_id}}">{{name}}</a></li>
			{{/actors}}
		</ul>
		<button class="btn btn-primary open-data" data-id="{{id}}">Link open data</button>
	</div>
	<div class="movie-poster col-xs-12 col-sm-6">
	</div>
</div>
