<button class="btn btn-danger rank rank-imdb">Rank all movies by IMDB score</button>
<button class="btn btn-danger rank rank-tomatoes">Rank all movies by Rotten tomatoes score</button>
<h1></h1>
{{#movies}}
	{{> movie}}
{{/movies}}
